<%
locals.OLSKPageTitle = OLSKLocalized('LCHVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHVitrineDescription');
locals.OLSKPageManifest = OLSKCanonical('LCHManifestRoute');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'/dev-package/__compiled/launchlet.css',
	'/dev-package/__compiled/launchlet.js',
	'ui-style.css',
	'__compiled/ui-behaviour.js',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="LCHVitrine OLSKDecor OLSKDecorCapped">

<div class="OLSKToolbar OLSKToolbarJustify OLSKMobileViewHeader OLSKCommonEdgeBottom OLSKStickyHeader">
	<div class="LCHVitrineCrown OLSKCommonCard OLSKCommonCrownCardMini">
		<img class="LCHVitrineCrownIcon" src="/_shared/LCHRootLink/ui-assets/identity.svg" role="presentation" />
		<section>
			<span class="LCHVitrineCrownName"><%= OLSKLocalized('LCHVitrineTitle') %></span>
		</section>
	</div>

	<%- include('../_shared/__external/OLSKLanguageSwitcher/main.ejs') %>	
</div>

<p class="OLSKCommonWhatIsIt"><%= OLSKLocalized('OLSKCommonWhatIsItText') %></p>

<article class="LCHVitrineContent">

<%- OLSKStringReplaceTokens(LCHVitrineContent, {
	LCHVitrineDemoButtonCommitToken: `<button class="LCHVitrineDemoButtonCommit" onclick="LCHVitrineBehaviour.InterfaceDemoButtonCommitDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonCommitText') }</button>`,
	LCHVitrineDemoButtonPreviewToken: `<button class="LCHVitrineDemoButtonPreview" onclick="LCHVitrineBehaviour.InterfaceDemoButtonPreviewDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonPreviewText') }</button>`,
	LCHVitrineDemoButtonPipeToken: `<button class="LCHVitrineDemoButtonPipe" onclick="LCHVitrineBehaviour.InterfaceDemoButtonPipeDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonPipeText') }</button>`,
}) %>

</article>

<h1 class="LCHVitrineFeaturesHeading"><%= OLSKLocalized('OLSKWordingFeatures') %></h1>

<%- include('./submodules/LCHFeatureList/main.ejs') %>

<%- include('../../node_modules/OLSKAppFeatureList/main.ejs').replace(/node_modules/g, '_shared/__external') %>

<h1 class="LCHVitrineVideoHeading"><%= OLSKLocalized('OLSKWordingVideo') %></h1>

<div class="OLSKCommonVideoList">
	<p class="LCHVitrineVideo1 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.LCH_VITRINE_VIDEO_URL_1 %>" allowfullscreen></iframe>
	</p>

	<p class="LCHVitrineVideo2 OLSKCommonVideoListItem">
		<iframe src="<%= process.env.LCH_VITRINE_VIDEO_URL_2 %>" allowfullscreen></iframe>
	</p>
</div>

<h1 class="LCHVitrineSupportHeading"><%= OLSKLocalized('OLSKWordingFeedbackHeading') %></h1>
<p class="LCHVitrineSupportBlurb"><%= OLSKLocalized('OLSKWordingFeedbackBlurb') %></p>

<hr role="presentation" />

<img class="LCHVitrineBrueghel" src="<%= OLSKCanonical('LCHBrueghelRedirect') %>" alt="<%= OLSKLocalized('LCHVitrineBrueghelText') %>"/>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
