<%
locals.OLSKPageTitle = OLSKLocalized('LCHVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('LCHVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'/_shared/common/ui-style.css',
	'/dev-package/__compiled/launchlet.css',
	'/dev-package/__compiled/launchlet.js',
	'ui-style.css',
	'__compiled/ui-behaviour.js',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="LCHVitrine OLSKCommon">

<%- include('../_shared/__external/OLSKLanguageSwitcher/main.ejs') %>

<hr role="presentation" />

<div class="LCHVitrineIdentity OLSKCommonCard OLSKCommonIdentityCard">
	<img class="LCHVitrineIdentityLogo" src="/_shared/LCHRootLink/ui-assets/identity.svg" role="presentation" />
	<section>
		<span class="LCHVitrineIdentityName"><%= OLSKLocalized('LCHVitrineTitle') %></span>
		<span class="LCHVitrineIdentityBlurb"><%= OLSKLocalized('LCHVitrineDescription') %></span>
	</section>
</div>

<article class="LCHVitrineContent">

<%- OLSKStringReplaceTokens(LCHVitrineContent, {
	LCHVitrineDemoButtonCommitToken: `<button class="LCHVitrineDemoButtonCommit" onclick="LCHVitrineBehaviour.InterfaceDemoButtonCommitDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonCommitText') }</button>`,
	LCHVitrineDemoButtonPreviewToken: `<button class="LCHVitrineDemoButtonPreview" onclick="LCHVitrineBehaviour.InterfaceDemoButtonPreviewDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonPreviewText') }</button>`,
	LCHVitrineDemoButtonPipeToken: `<button class="LCHVitrineDemoButtonPipe" onclick="LCHVitrineBehaviour.InterfaceDemoButtonPipeDidClick()">${ OLSKLocalized('LCHVitrineDemoButtonPipeText') }</button>`,
}) %>

</article>

<hr role="presentation" />

<img class="LCHVitrineBrueghel" src="<%= OLSKCanonicalFor('LCHBrueghelRedirect') %>" alt="<%= OLSKLocalized('LCHVitrineBrueghelText') %>"/>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
